.Day {
   display: inline-flex;
   position: relative;
 }

.flex-container {
  flex-direction: column;
}

.winner-line-1{
  border-right: 2px solid #959595;
  height:20%;
  position:absolute;
  top:180px;
  right: -100px;
}

.winner-line-2{
  border-right: 2px solid #959595;
  height:20%;
  position:absolute;
  top:500px;
  right: -100px;
}


.fix1{
  margin-top:50px;
  margin-bottom:200px;
}

.day{
  margin-top:20px;
  margin-bottom:10px;
  text-align: center;
}

.rectangle-top{
  border: 2px solid #959595;
  background:#959595;
  width:15px;
  height:15px;
  position:relative;
  margin: auto;
}

.vertical-line-top {
  border-left: 2px solid #959595;
  margin: auto;
  width: 15px;
  height: 25px;
  position: relative;
  left:7.5px;
}


.vertical-space-line{
  border-left: 2px solid #959595;
  margin: auto;
  width: 15px;
  height: 15px;
  position: relative;
  left:7.5px;
}


.vertical-line-bot {
  border-left: 2px solid #959595;
  margin: auto;
  width: 15px;
  height: 25px;
  position: relative;
  left:7.5px;
  /*top:-10px;*/
}

.rectangle-bot{
  border: 2px solid #959595;
  background:#959595;
  width:15px;
  height:15px;
  position:relative;
  /*top:-10px;*/
  margin: auto;
}